{% extends "layout.html" %}

{% block title %}Detalhes do Picking {{ abs_entry }}{% endblock %}

{% block content %}
    <h1>Itens do Picking - Pedido {{ abs_entry }}</h1>
    <a href="{{ url_for('pedidos.listar_pedidos') }}" class="btn btn-secondary">Voltar para a Lista de Pedidos</a>
    
    <table class="table-users">
        <thead>
            <tr>
                <th>Código do Item</th>
                <th>Descrição</th>
                <th>Peso Unitário</th>
                <th>Quantidade Picking</th>
                <th>Unidade de Medida</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.ItemCode }}</td>
                <td>{{ item.ItemName }}</td>
                <td>{{ item.SWeight1 }}</td>
                <td>{{ item.RelQtty }}</td>
                <td>{{ item.UomCode }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}